@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
}
:root {
  --text-gray: rgba(131, 145, 161, 1);
  --divider-color: rgba(0, 0, 0, 0.2);
  --input-bg: #F7F7F7;
  --main-green: #4AA35A;
  --border-color: rgba(0, 0, 0, 0.1);
}
.auth-container{
  background-image: url(../src/assets/background-img.svg);
  background-size: cover ;
  background-position: center center;
  min-height: 100vh;
  
}
.bg-none{
  background: none;
}
.auth-title{
  color: #494949;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%;
}
.auth-sub-title{
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 100%;
  color: #49494999;

}
.auth-input-group {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  padding: 10px 12px;
  border-radius: 8px;
  gap: 5px;
  
}
.auth-input-group input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1%;
}
.auth-input-group input::placeholder {
  color: var(--text-gray) !important;
}

.auth-input-group .input-icon{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.auth-input-group .input-icon i {
  color: var(--text-gray);
  font-size: 1.1rem;
}

.auth-input-group .input-divider {
  width: 1px;
  height: 33px;
  margin: 0 5px;
  background-color: var(--divider-color);
}

.bg-overlay{
  background: linear-gradient(51.22deg, rgba(47, 140, 96, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%);
}
.login-btn {
  background-color: #4AA35A; 
  border: none;
  transition: all 300ms ease-out; 
}

.login-btn:hover {
  background-color: #3e8e41; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.auth-logo-size {
    width: 50%;
  }

/* for small devices */
@media (max-width: 575px) {
  .auth-input-group {
    padding: 8px 12px;
  }
  .auth-input-group input {
    font-size: 12px;
  }
  .auth-input-group .auth-icon {
    font-size: 0.9rem;
  }

  .auth-subtitle {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .auth-input-group input {
    font-size: 14px;
  }
 
}
/* for medium screen */
@media (min-width: 768px) and (max-width: 991px) {
  .auth-input-group input {
    font-size: 14px;
  }
 
}
/* for large screen */
@media (min-width: 992px) and (max-width: 1200px) {
  .auth-input-group input {
    font-size: 14px;
  }
 
}